
<!------에러가 발생하면 /error라는 url을 호출하도록 web.xml선언--->

<web-app>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>	
</web-app>	
		